---
import MainLayout from "@/layout/MainLayout.astro"
---

<MainLayout
    title="Travily Help Center - Travel Support"
    description="Find answers to booking questions,
    payment issues, and trip changes. Travily support for flights, hotels, and car rentals."
    noindex={false}>
    <body>
        <h1>Help</h1>
    </body>
</MainLayout>
