---
import MainLayout from "@/layout/MainLayout.astro";
---

<MainLayout
    title="Travily - Book Flights Effortlessly"
    description="Travily - Book flights effortlessly with our modern travel
platform"
>
    <h1>Astro</h1>
</MainLayout>
