---
import MainLayout from "@/layout/MainLayout.astro"
---

<MainLayout
    title="Login to Travily - Access Your Account"
    description="Log in securely to manage your travel bookings.
    Fast Auth0 authentication for Travily users."
    noindex={true}>
    <body>
        <h1>login</h1>
    </body>
</MainLayout>
