---
import MainLayout from "@/layout/MainLayout.astro"
---

<MainLayout
    title="My Trips - Manage Bookings"
    description="View, modify, and manage all your Travily bookings in one place.">
    <body>
        <h1>my Trips</h1>
    </body>
</MainLayout>
