---
import MainLayout from "@/layout/MainLayout.astro"
---

<MainLayout
    title="Sign In to Travily - Secure Login"
    description="Access your Travily account securely. 
    Manage bookings, view trip history, and save preferences with Auth0-powered login."
    noindex={true}>
    <body>
        <h1>sign up</h1>
    </body>
</MainLayout>
