---
import type { AstroComponentInstance } from "astro/runtime/server/index.js";
import { TooltipProvider } from "../components/ui/tooltip";
import "../styles/global.css";
import Header from "@/components/Header";

interface Props {
    title: string;
    description: string,
    noindex: boolean
}

const { title, description, noindex } = Astro.props;
---

<script is:inline>
    const getThemePreference = () => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
    };

    const theme = getThemePreference();

    if (theme === "system") {
        // Check the system for the current theme mode before setting the class
        document.documentElement.classList[
            window.matchMedia("(prefers-color-scheme: dark)").matches ? "add" : "remove"
        ]("dark");
    } else {
        document.documentElement.classList[theme === "dark" ? "add" : "remove"]("dark");
    }

    if (typeof localStorage !== "undefined" && localStorage.getItem("theme") === "system") {
        // This runs every time the system changes its theme mode
        window.matchMedia("(prefers-color-scheme: dark)").onchange = (event) => {
            const isDark = event.matches;
            document.documentElement.classList[isDark ? "add" : "remove"]("dark");
        };
    }
</script>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="index, follow" />
        <title>{title}</title>
        <meta name="description" content={description} />
        {noindex && <meta name="robots" content="noindex, follow" />}
    </head>
    <body>
        <TooltipProvider client:load>
            <Header client:load />
            <slot />
        </TooltipProvider>
    </body>
</html>
